<%= render 'layouts/header' %>
<body>

<div class="homepage-buttons">
  <div class="artist-button">
    <%= link_to "Artist", new_artist_path %>
  </div>
  <div class="venue-button">
    <%= link_to "Venue", new_venue_path %>
  </div>
</div>


<h1>Tinder for the Music Industry.</h1>

</body>